@{
    Layout = null;
}
<div class="table_item">
    <span class="table_hd"><span class="require"></span><i style="color: Red;">* </i>商品属性：</span>
    <div class="table_bd" style="background-color: #f2f2f2;">
        <div class="ListGoodsCats">
            <input type="hidden" name="InputStr" value="" />
            <input type="hidden" name="SkuProperties" value="" />
            <ol>
                @{
                    if (ViewData["ListItemProp"] == null) { return; } foreach (MYDZ.Entity.ItemCats.ItemProp
                    ItemProp in (ViewData["ListItemProp"] as List<MYDZ.Entity.ItemCats.ItemProp>))
                    {
                        if (ItemProp.IsKeyProp)
                        {
                    <li>
                        <div class="table_item">
                            <span class="table_hd"><span class="require"></span>
                                @if (ItemProp.Must)
                                {
                                    <i style="color: Red;">*</i> }
                                @ItemProp.Name</span>
                            <div class="table_bd">
                                <div>
                                    @if (ItemProp.Multi)
                                    {
                                        <ol class="Goodsprops" style="width: 650px;">
                                            @foreach (MYDZ.Entity.ItemCats.PropValue item in ItemProp.PropValues)
                                            {
                                                if (!item.Name.Contains("属性迁移"))
                                                {
                                                <li style="margin-right: 10px;">
                                                    <label class="checkbox">
                                                        <span>
                                                            <input type="checkbox" class="GoodsCats" hidefocus="true" data="@ItemProp.Pid : @item.Vid" style="margin-left: 8px;">
                                                        </span><em>@item.Name</em>
                                                    </label>
                                                </li>
                                                }
                                            }
                                        </ol>                                                                                       
                                    }
                                    else
                                    {
                                        if (ItemProp.PropValues == null)
                                        {
                                        <input type="text" class="GoodsCats" data="@ItemProp.Pid"  name="InputStr"  value="" />
                                        }
                                        else
                                        {
                                        <select class="GoodsCats">
                                            <option value=""></option>
                                            @foreach (MYDZ.Entity.ItemCats.PropValue item in ItemProp.PropValues)
                                            {
                                                //if (!item.Status.Equals("deleted"))
                                                if (!item.Name.Contains("属性迁移"))
                                                {
                                                <option value="@ItemProp.Pid : @item.Vid"><a href="javascript:void(0);">@item.Name</a>
                                                </option>
                                                }
                                            }
                                        </select>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </li>
                        }
                        else if (ItemProp.IsEnumProp)
                        {
                            if (ItemProp.IsInputProp)
                            {
                    <li>
                        <div class="table_item">
                            <span class="table_hd"><span class="require"></span>
                                @if (ItemProp.Must)
                                {
                                    <i style="color: Red;">*</i> }
                                @ItemProp.Name</span>
                            <div class="table_bd">
                                <div>
                                    @if (ItemProp.Multi)
                                    {
                                        <ol class="Goodsprops" style="width: 650px;">
                                            @foreach (MYDZ.Entity.ItemCats.PropValue item in ItemProp.PropValues)
                                            {
                                                if (!item.Name.Contains("属性迁移"))
                                                {
                                                <li style="margin-right: 10px;">
                                                    <label class="checkbox">
                                                        <span>
                                                            <input type="checkbox" class="GoodsCats" hidefocus="true" data="@ItemProp.Pid : @item.Vid" style="margin-left: 8px;">
                                                        </span><em>@item.Name</em>
                                                    </label>
                                                </li>
                                                }
                                            }
                                        </ol>                                                                                       
                                    }
                                    else
                                    {
                                        if (ItemProp.PropValues == null)
                                        {
                                        <input type="text" class="GoodsCats"   data="@ItemProp.Pid"  name="InputStr"  value="" />
                                        }
                                        else
                                        {
                                        <select class="GoodsCats">
                                            <option value=""></option>
                                            @foreach (MYDZ.Entity.ItemCats.PropValue item in ItemProp.PropValues)
                                            {
                                                // if (!item.Status.Equals("deleted"))
                                                {
                                                <option value="@ItemProp.Pid : @item.Vid"><a href="javascript:void(0);">@item.Name</a>
                                                </option>
                                                }
                                            }
                                        </select>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </li>
                            }
                            if (ItemProp.IsSaleProp)
                            {
                            }
                            else
                            {
                    <li>
                        <div class="table_item">
                            <span class="table_hd"><span class="require"></span>
                                @if (ItemProp.Must)
                                {
                                    <i style="color: Red;">*</i> }
                                @ItemProp.Name</span>
                            <div class="table_bd">
                                <div>
                                    @if (ItemProp.Multi)
                                    {
                                        <ol class="Goodsprops" style="width: 650px;">
                                            @foreach (MYDZ.Entity.ItemCats.PropValue item in ItemProp.PropValues)
                                            {
                                                if (!item.Name.Contains("属性迁移"))
                                                {
                                                <li style="margin-right: 10px;">
                                                    <label class="checkbox">
                                                        <span>
                                                            <input type="checkbox" class="GoodsCats" hidefocus="true" data="@ItemProp.Pid : @item.Vid" style="margin-left: 8px;">
                                                        </span><em>@item.Name</em>
                                                    </label>
                                                </li>
                                                }
                                            }
                                        </ol>                                                                                       
                                    }
                                    else
                                    {
                                        if (ItemProp.PropValues == null)
                                        {
                                        <input type="text" class="GoodsCats"  data="@ItemProp.Pid"  name="InputStr"  value="" />
                                        }
                                        else
                                        {
                                        <select class="GoodsCats">
                                            <option value=""></option>
                                            @foreach (MYDZ.Entity.ItemCats.PropValue item in ItemProp.PropValues)
                                            {
                                                // if (!item.Status.Equals("deleted"))
                                                {
                                                <option value="@ItemProp.Pid : @item.Vid"><a href="javascript:void(0);">@item.Name</a>
                                                </option>
                                                }
                                            }
                                        </select>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </li>
                            }

                        }
                        else if (ItemProp.IsItemProp)
                        {
                    <li>
                        <div class="table_item">
                            <span class="table_hd"><span class="require"></span>
                                @if (ItemProp.Must)
                                {
                                    <i style="color: Red;">*</i> }
                                @ItemProp.Name</span>
                            <div class="table_bd">
                                <div>
                                    @if (ItemProp.Multi)
                                    {
                                        <ol class="Goodsprops" style="width: 650px;">
                                            @foreach (MYDZ.Entity.ItemCats.PropValue item in ItemProp.PropValues)
                                            {
                                                if (!item.Name.Contains("属性迁移"))
                                                {
                                                <li style="margin-right: 10px;">
                                                    <label class="checkbox">
                                                        <span>
                                                            <input type="checkbox" class="GoodsCats" hidefocus="true" data="@ItemProp.Pid : @item.Vid" style="margin-left: 8px;">
                                                        </span><em>@item.Name</em>
                                                    </label>
                                                </li>
                                                }
                                            }
                                        </ol>                                                                                       
                                    }
                                    else
                                    {
                                        if (ItemProp.PropValues == null)
                                        {
                                        <input type="text" class="GoodsCats"  data="@ItemProp.Pid"  name="InputStr"  value="" />
                                        }
                                        else
                                        {
                                        <select class="GoodsCats">
                                            <option value=""></option>
                                            @foreach (MYDZ.Entity.ItemCats.PropValue item in ItemProp.PropValues)
                                            {
                                                // if (!item.Status.Equals("deleted"))
                                                {
                                                <option value="@ItemProp.Pid : @item.Vid"><a href="javascript:void(0);">@item.Name</a>
                                                </option>
                                                }
                                            }
                                        </select>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </li>
                        }
                        else
                        { 
                    <li>
                        <div class="table_item">
                            <span class="table_hd"><span class="require"></span>
                                @if (ItemProp.Must)
                                {
                                    <i style="color: Red;">*</i> }
                                @ItemProp.Name</span>
                            <div class="table_bd">
                                <div>
                                    @if (ItemProp.Multi)
                                    {
                                        <ol class="Goodsprops" style="width: 650px;">
                                            @foreach (MYDZ.Entity.ItemCats.PropValue item in ItemProp.PropValues)
                                            {
                                                if (!item.Name.Contains("属性迁移"))
                                                {
                                                <li style="margin-right: 10px;">
                                                    <label class="checkbox">
                                                        <span>
                                                            <input type="checkbox" class="GoodsCats" hidefocus="true" data="@ItemProp.Pid : @item.Vid" style="margin-left: 8px;">
                                                        </span><em>@item.Name</em>
                                                    </label>
                                                </li>
                                                }
                                            }
                                        </ol>                                                                                       
                                    }
                                    else
                                    {
                                        if (ItemProp.PropValues == null)
                                        {
                                        <input type="text" class="GoodsCats"  data="@ItemProp.Pid"  name="InputStr"  value="" />
                                        }
                                        else
                                        {
                                        <select class="GoodsCats">
                                            <option value=""></option>
                                            @foreach (MYDZ.Entity.ItemCats.PropValue item in ItemProp.PropValues)
                                            {
                                                //if (!item.Status.Equals("deleted"))

                                                {
                                                <option value="@ItemProp.Pid : @item.Vid"><a href="javascript:void(0);">@item.Name</a>
                                                </option>
                                                }
                                            }
                                        </select>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </li>
                        }
                    }
                }
            </ol>
        </div>
    </div>
</div>
