         @{
        bool status = false; if (ViewData["ListItemProp"] == null) { return; } int i = 0;
        foreach (MYDZ.Entity.ItemCats.ItemProp ItemProp in (ViewData["ListItemProp"] as
        List<MYDZ.Entity.ItemCats.ItemProp>))
        {
            if (ItemProp.IsSaleProp && i == 0)
            {
                status = true;
                i++;
            }
        }
        if (status)
        {
                <div class="table_item">
                    <span class="table_hd"><span class="require"></span><i style="color: Red;">* </i>商品规格</span>
                    <div class="table_bd salebd" style="background-color: #f2f2f2;">
                        @foreach (MYDZ.Entity.ItemCats.ItemProp ItemProp in (ViewData["ListItemProp"] as List<MYDZ.Entity.ItemCats.ItemProp>))
                        {
                            if (ItemProp.IsSaleProp)
                            {
                                if (ItemProp.IsColorProp)
                                {
                            <li>
                                <div class="table_item">
                                    <span class="table_hd"><span class="require"></span>
                                        @if (ItemProp.Must)
                                        {
                                            <i style="color: Red;">*</i> }
                                        @ItemProp.Name</span>
                                    <div class="table_bd">
                                        <div>
                                            @if (ItemProp.Multi)
                                            {
                                                <ol class="Goodsprops" style="width: 650px;">
                                                    @foreach (MYDZ.Entity.ItemCats.PropValue item in ItemProp.PropValues)
                                                    {
                                                        if (!item.Name.Contains("属性迁移"))
                                                        {
                                                        <li style="margin-right: 10px;">
                                                            <label class="checkbox sale-color-prop saleprop">
                                                                <span>
                                                                    <input type="checkbox" hidefocus="true" data="@ItemProp.Pid : @item.Vid" style="margin-left:8px;">
                                                                </span><em>@item.Name</em>
                                                            </label>
                                                        </li>
                                                        }
                                                    }
                                                </ol>                                                                                   
                                            }
                                            else
                                            {
                                                if (ItemProp.PropValues == null)
                                                {
                                                <input type="text"  data="@ItemProp.Pid"  name="InputStr"  value="" />
                                                }
                                                else
                                                {
                                                <select>
                                                    <option value=""></option>
                                                    @foreach (MYDZ.Entity.ItemCats.PropValue item in ItemProp.PropValues)
                                                    {
                                                        //  if (!item.Status.Equals("deleted"))
                                                        {
                                                        <option value="@ItemProp.Pid : @item.Vid"><a href="javascript:void(0);">@item.Name</a>
                                                        </option>
                                                        }
                                                    }
                                                </select>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </li>
                                }
                                else
                                {
                            <li>
                                <div class="table_item">
                                    <span class="table_hd"><span class="require"></span>
                                        @if (ItemProp.Must)
                                        {
                                            <i style="color: Red;">*</i> }
                                        @ItemProp.Name</span>
                                    <div class="table_bd">
                                        <div>
                                            @if (ItemProp.Multi)
                                            {
                                                <ol class="Goodsprops" style="width: 650px;">
                                                    @foreach (MYDZ.Entity.ItemCats.PropValue item in ItemProp.PropValues)
                                                    {
                                                        if (!item.Name.Contains("属性迁移"))
                                                        {
                                                        <li style="margin-right: 10px;">
                                                            <label class="checkbox sale-other-prop saleprop">
                                                                <span>
                                                                    <input type="checkbox" hidefocus="true" data="@ItemProp.Pid : @item.Vid" style="margin-left:
                        8px;">
                                                                </span><em>@item.Name</em>
                                                            </label>
                                                        </li>
                                                        }
                                                    }
                                                </ol>                                                                                       
                                            }
                                            else
                                            {
                                                if (ItemProp.PropValues == null)
                                                {
                                                <input type="text"  data="@ItemProp.Pid"  name="InputStr"  value="" />
                                                }
                                                else
                                                {
                                                <select>
                                                    <option value=""></option>
                                                    @foreach (MYDZ.Entity.ItemCats.PropValue item in ItemProp.PropValues)
                                                    {
                                                        //  if (!item.Status.Equals("deleted"))
                                                        {
                                                        <option value="@ItemProp.Pid : @item.Vid"><a href="javascript:void(0);">@item.Name</a>
                                                        </option>
                                                        }
                                                    }
                                                </select>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </li>
                                }
                            }
                        }
                    </div>
                    <div class="table_bd">
                        <div class="table_item">
                            <span class="table_hd"><span class="require"></span><i style="color: Red;">*</i> SKU组合</span>
                            <div class="table_bd Goods-Skus" style="background-color: #f2f2f2;">
                            </div>
                        </div>
                        <input type="hidden" name="SkuQuantities" value="" />
                        <input type="hidden" name="SkuPrices" value="" />
                        <input type="hidden" name="SkuOuterIds" value="" />
                    </div>
                </div>  
        }     
            }