@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>批量修改</title>
    <script src="../../js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <link href="@Url.Content("~/css/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/select2.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/control.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/SetBatchEdit.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/js/master.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/select2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/Merchandise/SetBatchEdit.js")" type="text/javascript"></script>
</head>
<body>
    <div>
        <div class="maindiv">
            <ul>
                <li>
                    <div class="ShowPicDiv">
                        批量修改运费
                    </div>
                </li>
                <li>
                    <div class="ShowPicDiv">
                        批量修改库存
                    </div>
                </li>
                <li>
                    <div class="ShowPicDiv">
                        批量修改标题
                    </div>
                </li>
                <li>
                    <div class="ShowPicDiv">
                        批量修改描述
                    </div>
                </li>
                <li>
                    <div class="ShowPicDiv">
                        批量修改类目
                    </div>
                </li>
                <li>
                    <div class="ShowPicDiv">
                        批量修改商品编码
                    </div>
                </li>
                <li>
                    <div class="ShowPicDiv">
                        批量修改宝贝热点
                    </div>
                </li>
                <li>
                    <div class="ShowPicDiv">
                        批量修改其他信息
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="Edit_freight">
        运费
        <table>
            <tr>
                <td>
                    下面将会修改商品为统一运费模板
                </td>
            </tr>
            <tr>
                <td>
                    <select id="Edit_freight_type">
                        <option>请选择</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <br />
    <div class="Edit_stock">
        库存</div>
    <br />
    <div class="Edit_title">
        标题</div>
    <br />
    <div class="Edit_desc">
        描述</div>
    <br />
    <div class="Edit_category">
        类目</div>
    <br />
    <br />
    <div class="Edit_commoditycode">
        商品编码</div>
    <br />
    <div class="Edit_hotcommodity">
        热点</div>
    <br />
    <div class="Edit_otherInfo">
        其他信息</div>
    <br />
</body>
<script type="text/javascript">
    $(function () {
        $("#Edit_freight_type").select2();
    });
</script>
</html>
