@model MYDZ.Entity.DataAnalysis.ListShopData
@{
    ViewBag.Title = "数据分析-魔云店长";
    Layout = "~/Views/Shared/_SubMaster.cshtml";
    string datastring = MYDZ.Tools.Utils.ObjectToJsonStr(ViewData["chartdate"]);
}
<link href="@Url.Content("~/js/datepicker/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Highcharts/Options.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Highcharts/highcharts.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Highcharts/exporting.js")" type="text/javascript"></script>
<style type="text/css">
    .body_wrap1 ul .span-line-type
    {
        border: 1px solid red;
        float: left;
        margin-left: 10px;
        width: 100px;
        height: 100px;
    }
    #container
    {
        max-width: 800px;
        height: 400px;
        border: 1px solid gray;
        margin-top: 100px;
    }
</style>
<div class="btn_wrap">
    <div class="btn_wrap_hd">
        <span class="title"><i></i>数据查询</span>
    </div>
    <div class="btn_wrap_bd">
        <ul>
            <li>
                <label>
                    交易成功时间：</label></li>
            <li>
                <input type="text" name="StartDate" value="" class="datepicker" /></li>
            <li>_</li>
            <li>
                <input type="text" name="EndDate" value="" class="datepicker" />
            </li>
        </ul>
    </div>
    <div class="btn_wrap_bd">
        <ul>
            <li>
                <label>
                    买家旺旺：</label></li>
            <li>
                <input type="text" name="BuyerNick" value="" class="" />
            </li>
        </ul>
    </div>
    <div class="btn_wrap_bd clear_border">
        <ul>
            <li>
                <label style="padding-left: 66px;">
                    &nbsp;</label></li>
            <li>
                <button type="submit" hidefocus="true" name="Search">
                    搜索商品</button></li>
            <li><a href="/TradeRate/Index.html" hidefocus="hidefocus" class="reset">重置</a> </li>
        </ul>
    </div>
    <div class="body_wrap1">
        <ul>
            <li>
                <div>
                    <span class="span-line-type">
                        <label data="OrderPrice">
                            订单金额</label></span>
                </div>
                <div>
                    <span class="span-line-type">
                        <label data="TransactionPrice">
                            成交金额</label></span>
                </div>
                <div>
                    <span class="span-line-type">
                        <label data="TransactionCount">
                            成交笔数</label></span>
                </div>
                <div>
                    <span class="span-line-type">
                        <label data="OrderCount">
                            订单笔数</label></span>
                </div>
                <input type=hidden  class="span-line-type-data" value="@datastring"/>
            </li>
        </ul>
    </div>
</div>
<div class="fix_body_wrap">
    <div>
        <div>
            <div id="container">
            </div>
        </div>
        <div>
            <div style="float: right; margin-top: -200px;">
                <label>
                    日期选择：</label><br />
                <input type="date" class="SelectShopDate" title="@(DateTime.Now.Date.ToLongDateString())"  value="@(DateTime.Now.Date)" name="" />
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {

        var chart = null; //图表插件全局变量

        //加载方法
        OnloadShopDate();
        selectspantype();



        function OnloadShopDate() {
            var typevalue = $(".span-line-type-data").val();
            if (!$.isEmptyObject(typevalue) && typevalue !== "null") {
                chart = $('#container').highcharts($.parseJSON(typevalue));
            } else {
                $('#container').append("<h2>暂无数据！</h2>");
            }
        }

        function SetYtitle() {
            chart.yAxis[0].setTitle({ text: 'New Y axis title' });
            chart.xAxis[0].setCategories(['J', 'F', 'M', 'A', 'M', 'J', 'J', 'A', 'S', 'O', 'N', 'D']);
            chart.series[0].Name = "New Y axis title";
            chart.series[0].setData([1, 1, 3, 4, 6, 11, 14, 21, 15, 18, 9, 2]);
        }

        function selectspantype() {
            $(".span-line-type").click(function () {
                window.location.href = ("/DataAnalysis/Index.html?selectType=" + $(this).find("label").eq(0).attr("data") + "&SelectDay=" + $(".SelectShopDate").val());
            });
        }
    });
</script>
