@model List<MYDZ.Entity.Order.Trade>
@{
    ViewBag.Title = "OnloadRate";
    Layout = null;    
}
<style>
    .item-title-div a
    {
        color: #4682b4;
    }
    .editdiv a img
    {
        float: right;
        position: relative;
    }
    .edit-item-title
    {
        position: relative;
        top: -14px;
        display: block;
        text-indent: -9999em;
        width: 16px;
        height: 16px;
        overflow: hidden;
    }
    .edit-item-price, .edit-item-stoke
    {
        position: relative;
        width: 16px;
        top: -14px;
        display: block;
        text-indent: -9999em;
    }
    
    .item-title-div p
    {
        text-align: left;
        margin: 0px 5px;
        width: 160px;
    }
    .item-price-div p, .item-stoke-div p
    {
        width: 120px;
    }
    
    .editdiv .item-title-div textarea
    {
        padding: 2px;
        height: 28px;
    }
    .editdiv .item-price-div textarea, .editdiv .item-stoke-div textarea
    {
        padding: 2px;
        height: 20px;
        width: 70px;
    }
    .saveicon
    {
        top: -21px;
    }
    .save
    {
        display: none;
    }
    .edita
    {
        visibility: hidden;
    }
    .hide-div
    {
        display: none;
    }
    .show-div
    {
        display: none;
    }
    .title-img div
    {
        display: block;
        float: left;
    }
    .pageMoreWrap a:hover
    {
        background: #7f879e;
        color: #333333;
        text-shadow: 1px 1px 1px #b2b7c5;
        text-decoration: none;
    }
    .pageMoreWrap a
    {
        display: block;
        cursor: pointer;
        background: #C1C1C1;
        width: 300px;
        height: 37px;
        color: #333;
        line-height: 37px;
        text-align: center;
        margin: 0px auto;
        text-decoration: none;
        font-size: 14px;
        position: relative;
        z-index: 5;
        text-shadow: 1px 1px 1px white;
        -webkit-transition: all ease .7s;
        -moz-transition: all ease .7s;
        transition: all ease .7s;
    }
    .pageMoreWrap
    {
        width: 100%;
        text-align: center;
        clear: both;
        padding-top: 10px;
        display: none;
    }
    .img_title
    {
        line-height: 18px;
        height: 50px;
        width: 170px;
        vertical-align: middle;
        text-align: left;
        margin: 20px 0px 5px 5px;
    }
</style>
<table class="data_table" cellpadding="0" cellspacing="0" border="0">
    <tr align="center" style="text-align: center;">
        <th style="width: 31px;">
        </th>
        <th style="width: 320px;">
            图片
        </th>
        <th style="width: 100px;">
            订单号
        </th>
        <th style="width: 120px;">
            买家旺旺
        </th>
        <th style="width: 120px;">
            数量/实收款
        </th>
        <th style="width: 100px;">
            交易成功时间
        </th>
        <th style="width: 100px;">
            剩余评价时间
        </th>
        <th style="width: 100px;">
            操作
        </th>
    </tr>
    @{ if (Model == null || Model.Count < 1)
       {        
        <tr>
            <td colspan="8">
                <h2 style="text-align: center; margin: 10px;">
                    Sorry,未查找到您想要的数据！</h2>
            </td>
        </tr>        
       }
       else
       {
           foreach (MYDZ.Entity.Order.Trade item in Model)
           {
               TimeSpan dt1 = new TimeSpan();
               if (item.Orders[0].EndTime != null)
               {
                   dt1 = DateTime.Parse(item.Orders[0].EndTime).AddDays(15).Subtract(DateTime.Now);
               }             
        <tr class="data_table_item">
            <td>
                <label class="checkbox">
                    <span>
                        <input name="CheckboxGoods" type="checkbox" hidefocus="false"></span>
                    <input type="hidden" name="Tid" value="@item.Tid"/>
                    <input type="hidden" name="Ratestate" value="@(dt1.TotalDays > 0 ? "true" : "false")"/></label>
            </td>
            <td class="title-img item-title-div">
                <div>
                    <img width="90px" height="90px" src="@(item.PicPath + "_80x80.jpg")" alt="商品图片" />
                </div>
                <div class="img_title">
                    <a href="javascript:void(0)">@item.Orders[0].Title</a></div>
            </td>
            <td class="editdiv ">
                <div class="item-title-div">
                    <div class="item-title-div-edit edit">
                        <p>
                            <a href="javascript:void(0);">@item.Tid</a></p>
                    </div>
                </div>
            </td>
            <td class="editdiv">
                <div class="item-price-div">
                    <div class="item-price-div-edit edit">
                        <p>
                            <a href="javascript:void(0);">@item.BuyerNick</a></p>
                    </div>
                </div>
            </td>
            <td class="editdiv ">
                <div class="item-stoke-div">
                    <div class="item-stoke-div-edit edit">
                        <p>
                            共 @(item.Orders == null ? 1 : item.Orders.Count())笔</p>
                        <p>
                            实收款: <a href="javascript:void(0);">@item.Payment</a></p>
                        <p>
                            （含运费@(item.PostFee)元)</p>
                    </div>
                </div>
            </td>
            <td>
                <label>@item.EndTime</label>
            </td>
            <td>
                @{
               string xx;
               if (dt1.TotalDays > 0)
               {
                    @(string.Format("{0}天{1}小时{2}分", dt1.Days, dt1.Hours, dt1.Minutes))
               }
               else
               {
                   xx = "已过期";@xx                    
               }
                }
            </td>
            <td>
                <div>
                    <p>
                        @{
               if (dt1.TotalDays > 0)
               {
                            <input type="button" name="rateeditor" value="评价" data="@item.Tid">
               }
                        }
                    </p>
                </div>
            </td>
        </tr>
               
           }
       }
    }
</table>
