@{
    ViewBag.Title = "清单模板设置 - 魔云店长";
    Layout = "~/Views/Shared/_SubMaster.cshtml";
}
<link href="@Url.Content("~/css/template.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/css/select2.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/js/select2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/js/OrderManagement/jquery-migrate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/js/jquery.nicescroll.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/js/OrderManagement/Expressions.js")" type="text/javascript"></script>
<script src="@Url.Content("~/js/OrderManagement/MaskLayer.js")" type="text/javascript"></script>
<script src="@Url.Content("~/js/OrderManagement/inventory.js")" type="text/javascript"></script>
<style type="text/css">
    input.min_text
    {
        width: 40px;
    }
</style>
@{
    System.Collections.Hashtable ht = new System.Collections.Hashtable();
    ht = ViewData["InventoryInfo"] as System.Collections.Hashtable;
    MYDZ.Entity.Print.tbPrintPlaneSingle Print = new MYDZ.Entity.Print.tbPrintPlaneSingle();
    Print = ht["Print"] as MYDZ.Entity.Print.tbPrintPlaneSingle;
    List<MYDZ.Config.Font.FontInfo> listfontConfig = ht["fontConfig"] as List<MYDZ.Config.Font.FontInfo>;
    int UId = Convert.ToInt32(ht["UId"]);
}
<div class="btn_wrap">
    <div class="btn_wrap_hd">
        <span class="title"><i></i>清单模板设置</span>
    </div>
    <div class="btn_wrap_bd">
        <div class="btn_wrap_ipx">
            <ul>
                <li>清单宽度(毫米)：</li>
                <li>
                    <input type="text" name="lwidth" value="@(Print.PlaneId > 0 ? Print.Width : 210)" class="min_text" style=" width: 40px;" /></li>
                <li>清单高度(毫米)：</li>
                <li>
                    <input type="text" name="lheight" value="@(Print.PlaneId > 0 ? Print.Height : 297)" class="min_text" style=" width: 40px;"/></li>
                <li>
                    <button hidefocus="true" name="save">
                        保存设置</button></li>
                <li>
                    <button hidefocus="true" name="restore">
                        恢复默认</button></li>
            </ul>
        </div>
    </div>
</div>
<div class="imgMap">
    <img src="/Images/inv.jpg" style="width:@((Print.PlaneId > 0 ? Print.Width : 210) / 10)cm; height:@((Print.PlaneId > 0 ? Print.Height : 297) / 10)cm;" class="imageMaps" ref='imageMaps' />
</div>
<input type="hidden" name="PId" value="@Print.PlaneId" />
<input type="hidden" name="UId" value="@UId" />
<div class="dialogContainer">
    <div class="dialogContainer-bg">
        <hd class="dialogContainer-hd">参数配置信息</hd>
        <bd class="dialogContainer-bd">
            <table cellpadding="0" cellspacing="0" width="100%" border="0">
                <tr>
                    <td class="left">字体：</td>
                    <td>
                        <select name="font" style="width:180px;">
                           @foreach (MYDZ.Config.Font.FontInfo item in listfontConfig)
                           { 
                            <option value="@item.FontId">@item.FontName</option>
                           }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="left">字体大小：</td>
                    <td><input name="fontSize" type="text" class="mini" value="" /> px</td>
                </tr>
                <tr>
                    <td class="left">是否加粗：</td>
                    <td>
                        <label class="checkbox"><span><input name="bold" type="checkbox" hidefocus="true"></span></label>
                    </td>
                </tr>
                <tr>
                    <td class="left">对齐方式：</td>
                    <td>
                        <select name="align" style="width:180px;">
                            <option value="1">左对齐</option>
                            <option value="2">居中对齐</option>
                            <option value="3">右对齐</option>
                        </select>
                    </td>
                </tr>
                <tr class="tr_name">
                    <td class="left">自定义内容：</td>
                    <td><input type="text" value="" /></td>
                </tr>
                <tr class="tr_item">
                    <td class="left">包含子项：</td>
                    <td>
                        <label class="checkbox"><span><input name="allitem" type="checkbox" hidefocus="true"></span><em>商品名称</em></label>
                        <label class="checkbox"><span><input name="allitem" type="checkbox" hidefocus="true"></span><em>商品名称</em></label>
                        <label class="checkbox"><span><input name="allitem" type="checkbox" hidefocus="true"></span><em>商品名称</em></label>
                    </td>
                </tr>
                <tr class="tr_param">
                    <td class="left">显示条数：</td>
                    <td><input type="text" class="mini" value="" /> 条</td>
                </tr>
                <tr class="tr_width">
                    <td class="left">图片宽度：</td>
                    <td><input type="text" name="img_w" class="mini" value="" /> px</td>
                </tr>
                <tr class="tr_height">
                    <td class="left">图片高度：</td>
                    <td><input type="text" name="img_h" class="mini" value="" /> px</td>
                </tr>
                <tr class="tr_url">
                    <td class="left">图片地址：</td>
                    <td><input type="text" name="img_url" style="width:240px;" value="" /> </td>
                </tr>
            </table>
            <div class="dialogContainer-tool">
                <a href="javascript:void();" class="cancel">关闭</a>
                <a href="javascript:void();" class="save">确定</a>
            </div>
        </bd>
        <ft class="dialogContainer-ft">
            <a href="javascript:void();" class="dialogContainer-close" title="关闭">关闭</a>
        </ft>
    </div>
</div>
