@{
    Layout = null;
    ViewBag.Title = "订单打印管理";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/css/Control.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/js/OrderManagement/Expressions.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/jquery-1.11.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/jquery.nicescroll.min.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/js/PrintControl/LodopFuncs.js?Random=" + DateTime.Now.ToString("yyyyMMddHHmmssfff") + "")"></script>

    <style type="text/css">
        body {
	        margin:0px;
	        padding:0px;
	        text-align:left;
	        background-color: transparent;
	        font:12px Arial, Helvetica, sans-serif;
        }
        div,ul,li{
	        margin:0px;
	        padding:0px;
        }
        ul,li{
	        list-style:none;
        }
        td {
           text-align:left; 
           height:40px;
        }
        td.l {
           width:25px;
           padding-left:10px;
        }
        td.c {
           width:200px;
        }
        a {
            text-decoration:none;  
        }
        a:hover {
            text-decoration:underline;
        }
        .sdiv {
            padding:10px;
            display:none;
        }
        .sdiv li{float:left;text-align:center;line-height:38px;}
        .sdiv ul{clear:both;height:38px;}
        .sdiv ul.bd li{font-weight:700;}
        .sdiv li.col1{width:120px;}
        .sdiv li.col2{width:140px;}
        .sdiv li.col3{width:120px;}
        .sdiv li.col4{width:180px;}
        .sdiv ul.bottom li{float:right;margin:10px 4px 0px 6px;dispaly:inline;}
        .ndiv {
            height:190px;
            overflow:hidden;
        }
    </style>
</head>
<body>
@if (ViewBag.IsJump) {
    Response.Write("<script>window.parent.layer.alert({ title: '温馨提示', width: 280, msg: '" + ViewBag.Msg + "&nbsp;<a href=\"/OrderManagement/Sender.html\" style=\"color:#006DC1;\">立即设置</a>', icon: 3 });window.parent.$('.frame_wrap').remove();</script>");
}
<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
        <td class="l"><img src="/Images/Load.gif" style="height:18px;width:18px;" /></td>
        <td class="c">正在准备打印数据，请稍后...</td>
        <td class="r">&nbsp;</td>
    </tr>
</table>
<input type="hidden" name="LId" value="@ViewBag.LId" />
<input type="hidden" name="State" value="@ViewBag.State" />
<input type="hidden" name="Number" value="@ViewBag.Number" />
<input type="hidden" name="NumberList" value="@ViewBag.NumberList" />
</body>
</html>
<script>
    var Print = function () {
        var LODOP = null;
        var LId = $("input[name=LId]").val().Trim();
        var State = $("input[name=State]").val().Trim();
        var Number = $("input[name=Number]").val().Trim();
        var NumberList = $("input[name=NumberList]").val().Trim();

        var wrap = window.parent.$(".frame_wrap");
        var size = { width: wrap.width(), height: wrap.height() };
        var loc = wrap.offset();

        var iList = null;
        var dList = null;
        var sList = null;
        var bList = null;

        this.Page = {
            Init: function () {
                var base = this;
                LODOP = getLodop();
                $.post("/OrderManagement/PrintSender.html", { LId: LId, State: State, Number: Number, NumberList: NumberList },
                    function (data) {
                        if (data.Status) {
                            iList = data.iList;
                            dList = data.dList;
                            sList = data.sList;
                            bList = data.bList;

                            if (data.iList.list.length > 0) {
                                $("tr").html("<td class='l'><img src='/Images/Load.gif' style='height:18px;width:18px;' /></td><td class='c'>正在打印订单，请稍后...</td><td class='r'><a href='javascript:void();' name='Inventory'>发货单</a></td>");
                            } else {
                                if (data.bList.length > 0) {
                                    $("tr").html("<td class='l'><img src='/Images/Load.gif' style='height:18px;width:18px;' /></td><td class='c'>正在打印订单，请稍后...</td><td class='r'><a href='javascript:void();' name='Distribution'>配货单</a></td>");
                                } else {
                                    if (data.dList.length > 0) {
                                        base.CreateDiv();
                                    } else {
                                        $("tr").html("<td class='l'><img src='/Images/Load.gif' style='height:18px;width:18px;' /></td><td class='c'>正在处理数据，请稍后...</td><td class='r'><a href='javascript:void();' name='Complete'>完成</a></td>");
                                    }
                                }
                            }

                            LODOP.PRINT_INIT("订单打印");
                            LODOP.SET_PRINT_PAGESIZE(0, "" + data.pList.width + "mm", "" + data.pList.height + "mm", "");
                            var strBodyStyle = "<style>html{margin:0px;padding:0px;}body{margin:0px;padding:0px;}*.*{margin:0px;padding:0px;}</style>";
                            for (var i = 0; i < data.pList.list.length; i++) {
                                LODOP.NewPage();
                                LODOP.ADD_PRINT_HTM(0, 0, "" + data.pList.width + "mm", "" + data.pList.height + "mm", strBodyStyle + unescape(data.pList.list[i]));
                            }

                            LODOP.PREVIEW();
                        }
                    }
                );

                $(document).delegate("a[name=Inventory]", "click",
                    function () {
                        if (bList.length > 0) {
                            $("tr").html("<td class='l'><img src='/Images/Load.gif' style='height:18px;width:18px;' /></td><td class='c'>正在打印订单，请稍后...</td><td class='r'><a href='javascript:void();' name='Distribution'>配货单</a></td>");
                        } else {
                            if (dList.length > 0) {
                                base.CreateDiv();
                            } else {
                                $("tr").html("<td class='l'><img src='/Images/Load.gif' style='height:18px;width:18px;' /></td><td class='c'>正在处理数据，请稍后...</td><td class='r'><a href='javascript:void();' name='Complete'>完成</a></td>");
                            }
                        }

                        LODOP.PRINT_INIT("发货单打印");
                        LODOP.SET_PRINT_PAGESIZE(0, "" + iList.width + "mm", "" + (iList.list[0].height > 0 ? "297mm" : iList.height + "mm") + "", "");
                        var strBodyStyle = "<style>html{margin:0px;padding:0px;}body{margin:0px;padding:0px;}*.*{margin:0px;padding:0px;}th,td{font:normal 12px '宋体';text-align:center;}th{height:30px;}td{border-top:#878787 1px solid;height:70px;}</style>";
                        for (var i = 0; i < iList.list.length; i++) {
                            var height = iList.list[i].height > 0 ? "" + iList.list[i].height + "mm" : iList.height + "mm";
                            LODOP.NewPage();
                            LODOP.ADD_PRINT_HTM(0, 0, "" + iList.width + "mm", "" + height + "", strBodyStyle + unescape(iList.list[i].content));
                        }

                        LODOP.PREVIEW();
                    }
                );

                $(document).delegate("a[name=Distribution]", "click",
                    function () {
                        if (dList.length > 0) {
                            base.CreateDiv();
                        } else {
                            $("tr").html("<td class='l'><img src='/Images/Load.gif' style='height:18px;width:18px;' /></td><td class='c'>正在处理数据，请稍后...</td><td class='r'><a href='javascript:void();' name='Complete'>完成</a></td>");
                        }

                        LODOP.PRINT_INIT("配货单打印");
                        LODOP.SET_PRINT_PAGESIZE(0, "210mm", "297mm", "");
                        var strBodyStyle = "<style>html{margin:0px;padding:0px;}body{margin:0px;padding:0px;}*.*{margin:0px;padding:0px;}th,td{font:normal 12px '宋体';text-align:center;}</style>";
                        var html = [];
                        html.push('<table width="650" cellpadding="0" cellspacing="0" border="0" style="font-size:13px;margin:10px;">');
                        html.push('<tr><td style="font-weight:bold;font-size:18px;width:650px;" align="center" colspan="5">配货单</td></tr>');
                        html.push('<tr><td height="10" colspan="5"></td></tr>');
                        for (var i = 0; i < bList.length; i++) {
                            html.push('<tr>');
                            html.push(' <td width="40" style="text-align:right;">' + (i + 1) + '.</td>');
                            html.push(' <td width="255" style="text-align:left;padding:5px 0px 5px 5px;">' + bList[i].name + '</td>');
                            html.push(' <td width="150" style="text-align:center;">' + bList[i].code + '</td>');
                            html.push(' <td width="150" style="text-align:center;">' + bList[i].att + '</td>');
                            html.push(' <td width="50" style="text-align:center;">' + bList[i].num + '</td>');
                            html.push('</tr>');
                        }
                        html.push('</table>');
                        LODOP.NewPage();
                        LODOP.ADD_PRINT_HTM(0, 0, "210mm", "297mm", strBodyStyle + html.join(''));
                        LODOP.PREVIEW();
                    }
                );

                $(document).delegate("button[name=Sender]", "click",
                    function () {
                        var Data = base.Verification();

                        if (!Data.Status) { return; }

                        $("div.sdiv").fadeOut(function () { $(this).remove(); });

                        $("tr").html("<td class='l'><img src='/Images/Load.gif' style='height:18px;width:18px;' /></td><td class='c'>正在进行发货处理，请稍后...</td><td class='r'>&nbsp;</td>");

                        wrap.animate({ width: size.width, height: size.height, top: loc.top, left: loc.left },
                            function () {
                                $("table").fadeIn();
                            }
                        );

                        $.post("/OrderSend.html", Data,
                            function (data) {
                                $("tr").html("<td class='l'>&nbsp;</td><td class='c'>发货已经处理完成...</td><td class='r'><a href='javascript:void();' name='Complete'>完成</a></td>");
                            }
                        );
                    }
                );

                $(document).delegate("a[name=Complete]", "click",
                    function () {
                        $.post("/OrderManagement/Print.html", { NumberList: sList.join(',') },
                            function (data) {
                                if (!data.Status) {
                                    alert("保存数据失败!");
                                }
                                base.CloseWindow();
                            }
                        );
                    }
                );
            },
            Verification: function () {
                var Data = { Status: false };
                var ul = $("div.sdiv ul").not("ul.bd,ul.bottom");
                var Json = [];
                for (var i = 0; i < ul.length; i++) {
                    var obj = $(ul[i]);
                    var id = obj.attr("data-id");
                    var reg = obj.attr("data-reg");

                    var ipt = obj.find("input[type=text]");
                    if (ipt.val().IsEmpty()) {
                        ipt.focus();
                        return Data;
                    } else {
                        if (!reg.IsEmpty()) {
                            if (!new RegExp("(" + reg + ")").test(ipt.val().Trim())) {
                                ipt.val("").focus();
                                return Data;
                            }
                        }
                    }

                    Json.push("" + id + "," + ipt.val() + "");
                }
                if (Json.length > 0) {
                    Data.ParamList = Json.join('/');
                    Data.Status = true;
                }
                return Data;
            },
            CreateDiv: function () {
                $("table").fadeOut();
                var height = 295;
                var width = 580;
                wrap.find("iframe").css({ "height": height, "width": width });

                var div = $("<div></div>").addClass("sdiv");
                div.append('<ul class="bd"><li class="col1">用户昵称</li><li class="col2">订单编号</li><li class="col3">收货人姓名</li><li class="col4">物流单号</li></ul>');
                var subdiv = $("<div></div>").addClass("ndiv");
                for (var i = 0; i < dList.length; i++) {
                    subdiv.append('<ul data-id="' + dList[i].order + '" data-reg="' + dList[i].reg + '"><li class="col1">' + dList[i].nick + '</li><li class="col2">' + dList[i].id + '</li><li class="col3">' + dList[i].name + '</li><li class="col4"><input type="text" value="' + dList[i].number + '" /></li></ul>');
                }
                div.append(subdiv);

                div.append('<ul class="bottom"><li><button hidefocus="true" name="Sender">确定发货</button></li></ul>');
                $("body").append(div);
                wrap.animate({ width: width, height: height, top: loc.top - (height - size.height) / 2, left: loc.left - (width - size.width) / 2 },
                    function () {
                        div.fadeIn(
                            function () {
                                var nicesx = $("div.ndiv").niceScroll({ touchbehavior: false, cursorcolor: "#424242", cursoropacitymax: 0.6, cursorwidth: 4 });
                            }
                        );
                    }
                );

            },
            CloseWindow: function () {
                wrap.fadeOut(
                    function () {
                        window.parent.location.href = window.parent.location.href;
                    }
                );
            }
        };
    }

    $(document).ready(
        function () {
            new Print().Page.Init();
        }
    );
</script>
