@{
    ViewBag.Title = "首件优惠";
    Layout = "~/Views/Shared/_SubMaster.cshtml";
}
<link href="@Url.Content("~/css/select2.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Validation/style.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/js/select2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/js/PopWindow.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Validation/Validform_v5.3.2_min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Validation/Validform.js")" type="text/javascript"></script>
<script src="@Url.Content("~/LayDate/laydate.js")"type="text/javascript"></script>
<link href="@Url.Content("~/css/CommonStyle.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/js/Marketing/CommonScript.js")"type="text/javascript"></script>

@using (Html.BeginForm("FirstPreferentialPiece", "Marketing", FormMethod.Post, new { id = "QueryCriteria" }))
{
    <div class="btn_wrap btn_wrap-div1">
        <div class="btn_wrap_hd" style="width: 845px;">
            <span class="title"><i></i>首件优惠--设置参数</span>
        </div>
        <div class="btn_wrap_bd">
            <div class="table_item">
                <span class="table_hd"><span class="require"></span>活动名称：</span>
                <div class="table_bd">
                    <div>
                        <input type="text" name="Name" value="" datatype="*1-5" nullmsg="请键入活动名称" errormsg="活动名称最多允许输入5个字符（包括空格）" />
                        <div class="msg_info">
                            <span class="Validform_checktip"></span><i></i>
                        </div>
                    </div>
                    <div class="markingtarget">
                        <ul class="SelectItem" style="font-size: 14px;" data="target">
                            <li><a href="javascript:void(0);">卖家促销</a> </li>
                            <li><a href="javascript:void(0);">限时促销</a> </li>
                            <li><a href="javascript:void(0);">最后一天</a> </li>
                            <li><a href="javascript:void(0);">新品促销</a> </li>
                            <li><a href="javascript:void(0);">今日特价</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="table_bd" style="margin-left: -231px;">
                    <div class="tiptop" style="width: 200px;">
                        <div class="rotated-triangle">
                        </div>
                        <span>包括文字、字符，5字以内！</span>
                    </div>
                </div>
            </div>
            <div class="table_item">
                <span class="table_hd"><span class="require"></span>开始日期：</span>
                <div class="table_bd">
                    <div>
                        <input type="text" name="StartTime" id="datepicker-start" value="" datatype="*1-30"
                            readonly="readonly" class="iptdate datepicker laydate-icon" nullmsg="请选择开始时间" />
                        <div class="msg_info">
                            <span class="Validform_checktip"></span><i></i>
                        </div>
                    </div>
                </div>
                <input type="text" class="tetxline" readonly="readonly" style="height: 39px; border-width: 1px 1px 1px 0px;" />
                <div class="table_bd">
                    <div>
                        <div class="markingDate" style="margin-left: 55px;">
                            <ul class="SelectItem" style="font-size: 14px; margin-top: 10px;" data="day">
                                <li data="3"><a href="javascript:void(0);">3天</a> </li>
                                <li data="5"><a href="javascript:void(0);">5天</a> </li>
                                <li data="7"><a href="javascript:void(0);">7天</a> </li>
                                <li data="15"><a href="javascript:void(0);">15天</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table_item">
                <span class="table_hd"><span class="require"></span>结束日期：</span>
                <div class="table_bd">
                    <div>
                        <input type="text" name="EndTime" id="datepicker-end" value="" datatype="*1-30" readonly="readonly"
                            class="iptdate datepicker laydate-icon" nullmsg="请选择结束时间" />
                        <div class="msg_info">
                            <span class="Validform_checktip"></span><i></i>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <input type="hidden" name="Type" value="2" />
                <input name="IsItemCountOver" type="hidden" value="true" hidefocus="true" />
                <input type="hidden" name="ItemCount" value="1" />
                <input name="IsItemMultiple" type="hidden" value="false" hidefocus="true" />
                <input name="IsDecreaseMoney" type="hidden" hidefocus="true" value="true" />
                <input name="ParticipateRange" type="hidden" hidefocus="true" value="1" />
            </div>
            <div class="table_item">
                <span class="table_hd"><span class="require"></span>活动范围：</span>
                <div class="table_bd">
                    <div class="kaiqiquandian">
                        <label class="radio checked">
                            <span>
                                <input name="ParticipateRange" class="quandian" type="radio" value="1" hidefocus="true">
                            </span><em>部分商品参与</em>
                        </label>
                        <label class="radio">
                            <span>
                                <input name="ParticipateRange" type="radio" value="0" hidefocus="true" class="quandian">
                            </span><em>全部参与</em>
                        </label>
                    </div>
                </div>
                <div class="table_bd" style="margin-left: -50px;">
                    <div class="tiptop" style="width: 200px;">
                        <div class="rotated-triangle">
                        </div>
                        <span>开启全店后,全店商品优惠相应折扣.</span>
                    </div>
                </div>
            </div>
            <div class="table_item">
                <span class="table_hd"><span class="require"></span>优惠方式：</span>
                <div class="table_bd">
                    <div class="way">
                        <label class="radio">
                            <span>
                                <input name="IsDiscount" type="radio" hidefocus="true">
                            </span><em>打折</em>
                        </label>
                        <label class="radio">
                            <span></span><em>减钱</em>
                        </label>
                    </div>
                </div>
            </div>
            <div class="table_item">
                <span class="table_hd"><span class="require"></span>商品打折：</span>
                <div class="table_bd">
                    <div class="">
                        <input type="text" name="DiscountRate" value="1000" datatype="/^\d+(\.\d+)?$/" nullmsg="请输入活动折扣"
                            errormsg="除数字、小数点以外的字符不能输入" />
                    </div>
                </div>
                <div class="table_bd" style="margin-left: -50px;">
                    <div class="tiptop" style="width: 200px;">
                        <div class="rotated-triangle">
                        </div>
                        <span>商品的折扣. 注意：800表示8折。</span>
                    </div>
                </div>
            </div>
            <div class="table_item">
                <span class="table_hd"><span class="require"></span>商品减钱：</span>
                <div class="table_bd">
                    <div class="kaiqiquandian">
                        <input type="text" name="DecreaseAmount" value="0" datatype="/^\d+(\.\d+)?$/" nullmsg="请输入金额"
                            errormsg="除数字、小数点以外的字符不能输入" />
                    </div>
                </div>
                <div class="table_bd" style="margin-left: -50px;">
                    <div class="tiptop" style="width: 200px;">
                        <div class="rotated-triangle">
                        </div>
                        <span>减钱的金额. 注意：100表示1元。</span>
                    </div>
                </div>
            </div>
            <div class="table_item">
                <span class="table_hd"><span class="require"></span>商品运费：</span>
                <div class="table_bd yunfei">
                    <label class="checkbox" style="margin-top: 6px">
                        <span>
                            <input name="yunfei" class="IsFreePost" type="checkbox" hidefocus="true"/>
                        </span><em>包邮</em>
                    </label>
                    <input type="hidden" name="IsFreePost" value="" />
                </div>
            </div>
            <div class="table_item">
                <span class="table_hd"><span class="require"></span>不包邮地区：</span>
                <div class="table_bd exclude_area">
                  <a href="javascript:void(0);" id="choicearea" style="color:Blue;">去选择</a>
                  <input type="hidden" name="ExcludeArea" value="" />
                </div>
                <div class="table_bd" style="margin-left:10px;">
                  <a href="javascript:void(0);">已选择<label id="itemcount">0</label>项</a>
                </div>
                <div class="table_bd" style="margin-left: 18px;">
                    <div class="tiptop" style="width: 170px;">
                        <div class="rotated-triangle">
                        </div>
                        <span>全国包邮可不选中(非必选)!</span>
                    </div>
                </div>
            </div>
            <div class="table_item">
                <span class="table_hd"><span class="require"></span>店铺会员：</span>
                <div class="table_bd huiyuan">
                    <label class="checkbox" style="margin-top: 8px">
                        <span>
                            <input name="IsShopMember" type="checkbox" hidefocus="true">
                        </span><em>启用会员</em>
                    </label>
                </div>
            </div>
            <div class="table_item">
                <span class="table_hd"><span class="require"></span>会员等级：</span>
                <div class="table_bd">
                    <div class="btn_wrap_item " style="padding: 0px;">
                        <ul class="SelectItem" data="renqun">
                            <li class="current" data="0"><span>全部</span> </li>
                            <li data="1"><a href="javascript:void(0);">普通会员</a> </li>
                            <li data="2"><a href="javascript:void(0);">高级会员</a> </li>
                            <li data="3"><a href="javascript:void(0);">VIP会员</a> </li>
                            <li data="4"><a href="javascript:void(0);">至尊VIP会员</a> </li>
                        </ul>
                    </div>
                </div>
                <input type="hidden" name="ShopMember" value="0" />
            </div>
            <div class="table_item">
                <span class="table_hd"><span class="require"></span>&nbsp;</span>
                <div class="table_bd">
                    <input type="button" id="CreateActivity" name="" value="创建活动" />
                    <input type="button" id="SaveActivity" name="" value="保存活动,下一步" />
                </div>
            </div>
        </div>
    </div>
    <div class="btn_wrap btn_wrap-div2">
    </div> 
}
